.navigation {
	display: flex;
	align-items: center;
	background-color: #FFCE13;
	background-image: url(../../lemons.jpg);
	min-height: 180px;
  background-position: bottom center;
}

.page-title {
	font-size: 35px;
	margin: 0 auto;
	color: #fff;
	text-shadow: 1px 3px rgba(0,0,0,.7), 1px 7px rgba(0,0,0,.2);
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}
